.link2{
    text-align: center;
    width: 100%;
    
}
.link2 h1{
    color: rgb(16, 16, 104);
    
}
.link2 p{
    color: rgb(74, 74, 168);
    
}
body{
    background: linear-gradient(90deg, rgba(151,210,174,1) 0%, rgba(175,193,111,0.8421743697478992) 0%, rgba(204,201,29,0.738532913165266) 15%, rgba(171,189,150,1) 51%, rgba(187,200,170,1) 54%, rgba(81,129,42,0.7833508403361344) 100%, rgba(57,63,164,0.8561799719887955) 100%);
}
